<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades.Properties.Settings.SistemaInformesConnectionString"
            connectionString="Data Source=.;Initial Catalog=SistemaInformes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Entidades.Properties.Settings.SistemaInformesConnectionString1"
            connectionString="Data Source=192.168.1.67;Initial Catalog=SistemaInformes;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>